.footer {
	width: calc(100% - 1.25rem);
	margin: 0 auto;
	box-sizing: border-box;

	&__container {
		position: relative;
		margin: 7.5rem 0 .625rem;
		padding-left: 10rem;
		border-radius: $block-border-radius;
		background-color: $dark-block-color;
		color: $dark-block-text-color;
		box-sizing: border-box;
	}

	&__title {
		max-width: 460px;
		padding: 3.75rem 0 1.25rem;
		margin: 0;
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.19;
	}

	&__subtitle {
		max-width: 540px;
		padding: 0;
		margin: 0;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.45;
		opacity: $text-opacity;
	}

	&__button-soon {
		width: 470px;
		margin: 10.875rem 0 3.75rem;
		padding: .94rem 4.7rem;
		background-color: $button-color;
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
		color: $button-text-color;

		&:hover {
			opacity: 1;
		}
	}

	&__drawing {
		width: 311px;
		height: 500px;
		background-image: url("../../../images/footer-drawing.svg");
		background-repeat: no-repeat;
		background-size: contain;
		filter: $filter-shadow;
		position: absolute;
		top: -30px;
		right: 220px;
	}

}