.header {
	position: relative;
	width: calc(100% - 1.25rem);
	margin: 0 auto;
	box-sizing: border-box;

	&__container {
		border-radius: $block-border-radius;
		background-color: $dark-block-color;
		margin-top: .625rem;
		padding-left: 10rem;
		color: $dark-block-text-color;
		box-sizing: border-box;
	}

	&__logo {
		width: 40px;
		margin: 1.875rem 0;
	}

	&__title {
		max-width: 650px;
		padding: 0;
		margin: 1.875rem 0;
		font-weight: 700;
		font-size: 3.75rem;
		line-height: 1.15;
	}

	&__subtitle {
		max-width: 450px;
		padding: 0;
		margin: 0;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.4;
		opacity: .7;
	}

	&__button-info {
		width: 240px;
		margin: 6.75rem 0 8.125rem;
		padding: .94rem 4.7rem;
		background-color: $button-color;
		font-weight: 600;
		text-align: center;
		color: $button-text-color;
	}

	&__drawing {
		width: 311px;
		height: 630px;
		background-image: url("../../../images/header-drawing.svg");
		background-repeat: no-repeat;
		background-size: contain;
		filter: $filter-shadow;
		position: absolute;
		top: 40px;
		right: 220px;
	}
}