.header {
	width: calc(100% - #{$globalIndent * 2});
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: $block-border-radius;
	background-color: $dark-block-color;
	color: $dark-block-text-color;

	&__container {
		position: relative;
		margin-top: $globalIndent;
		padding-left: $desktopIndent;
		box-sizing: border-box;

		@include desktopMediumStyles {
			padding-left: $tabletIndent;
		}

		@include preMobileStyles {
			padding-left: $mobileIndent;
		}

		@include mobileStyles {
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__logo {
		width: 40px;
		margin: 1.875rem 0;

		@include mobileStyles {
			align-self: flex-start;
			padding-left: calc((100% - 260px)/2);
		}
	}

	&__title {
		max-width: 650px;
		padding: 0;
		margin: 1.875rem 0;
		font-weight: 700;
		font-size: 3.75rem;
		line-height: 1.15;

		@include preTabletStyles {
			max-width: 360px;
			font-size: 2rem;
		}

		@include tabletStyles {
			margin: 1.25rem 0;
		}

		@include preMobileStyles {
			max-width: 260px;
			font-size: 1.5rem;
		}
	}

	&__subtitle {
		max-width: 450px;
		padding: 0;
		margin: 0;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.4;
		opacity: $text-opacity;

		@include preTabletStyles {
			max-width: 360px;
			font-size: .93rem;
			line-height: 1.3;
		}

		@include preMobileStyles {
			max-width: 260px;
			font-size: .75rem;
		}
	}

	&__button-info {
		width: 240px;
		margin: 6.75rem 0 8.125rem;
		padding: .94rem 4.7rem;
		background-color: $button-color;
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
		color: $button-text-color;

		@include tabletStyles {
			margin: 15.625rem 0 3.125rem;
			font-size: .875rem;
			line-height: 1;
		}

		@include mobileStyles {
			width: 260px;
			margin: 0 0 $mobileIndent;
			font-size: .75rem;
			line-height: 2;
		}
	}

	&__drawing {
		width: 311px;
		height: 630px;
		background-image: url("../../../images/header-drawing.svg");
		background-repeat: no-repeat;
		background-size: contain;
		filter: $filter-shadow;
		position: absolute;
		top: 40px;
		right: 220px;

		@include desktopMediumStyles {
			right: 60px;
		}

		@include preTabletStyles {
			right: 45px;
			width: 280px;
			height: 560px;
		}

		@include tabletStyles {
			top: 120px;
			width: 250px;
			height: 502px;
		}

		@include preMobileStyles {
			right: 20px;
		}

		@include mobileStyles {
			position: unset;
			width: 260px;
			height: 522px;
			margin: $tabletIndent 0;
		}
	}
}