.form {
	background-color: $secondary-color;
	color: $text-color;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		margin: 0;
		padding: 3.75rem 0 1.25rem;
		max-width: 500px;
		text-align: center;
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.2;
	}

	&__subtitle {
		margin: 0;
		padding: 0 0 6.25rem;
		max-width: 500px;
		text-align: center;
		font-weight: 400;
		line-height: 1.5;
		opacity: $text-opacity;
	}

	&__application {
		width: calc(100% - 120px);
	}

	&__input-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 470px);
		grid-column-gap: 40px;
		grid-row-gap: 20px;
		justify-content: center;
		border: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		padding: .9375rem 1.25rem;
		margin: 0;
		border: none;
		border-radius: $button-border-radius;
		font-family: inherit;
		font-weight: 400;
		line-height: 1.5;

		&::placeholder {
			font-family: inherit;
			font-weight: 400;
			line-height: 1.5;
			opacity: .3;
		}

		&:hover {
			outline: solid 1px #e4e4e4;
			border: 0;
			cursor: pointer;
		}

		&:focus {
			outline: solid 1px #e4e4e4;
			border: 0;
		}

		&:focus::placeholder {
			color: transparent;
		}
	}

	&__item_el_user-name {

	}

	&__item_el_user-email {
	}

	&__item_el_message {
		padding-bottom: 5.63rem;
		grid-column: 1/-1;
		resize: none;
	}

	&__handlers {
		border: none;
		padding: 0;
		margin: 1.875rem 0 3.75rem;
		display: flex;
		justify-content: flex-end;
	}

	&__button-send {
		padding: .9375rem 1.25rem;
		width: 194px;
		background-color: $dark-button-color;
		color: $dark-button-text;
	}
}