$primary-color: #e5e5e5;
$secondary-color: #f8f8f8;
$text-color: #111;

$dark-block-color: #222;
$dark-block-text-color: #fff;

$button-color: #fff;
$button-text-color: #222;

$dark-button-color: #222;
$dark-button-text: #111;

$block-border-radius: 1.25rem;
$button-border-radius: .5rem;

$font-family: 'Inter', Arial, sans-serif;